<h1>Friends</h1>

<div id="friends">


    <table class="table">
    <thead>
    <tr>
     <th>First name</th>
     <th>last name</th>
     <th>email</th>
    </tr>
    
    </thead>
    <tbody>
<% @friends.each do |friend| %>
    <% if friend.user == current_user %>

<tr>
<td>
    <%= friend.first_name %></td>
  <td>


    <%= friend.last_name %></td>
  <td>


    <%= friend.email %></td>
  <td>


      <%= link_to "Show", friend %>
</td>
  <td>
        <%= link_to "Edit", edit_friend_path(friend) %></td>

</tr>
<% end %>
  <% end %>
</tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-primary rounded-pill px-3" %>
